.rdw-template-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    position: relative;
    flex-wrap: wrap;
    width: 10%;
}

#template {
    height: 30px;
    width: 100%;
    background: white;
    cursor: pointer;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    margin: 0 3px;
    text-transform: capitalize;
    background: white;
}

.template-ul{
    visibility: hidden;
  }
.template-li:hover {
    background: #F1F1F1;
 }